<div class="report-container">
  <form [formGroup]="reportform" class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <label for="employee">Select Employee</label>
      <p-dropdown [options]="dtEmployee" formControlName="Name" optionLabel="Name" placeholder="Select Employee">
      </p-dropdown>
    </div>

    <div class="p-field p-col-12 p-md-8">
      <button pButton type="button" label="Show Data" (click)="print('Data')"></button>
      <button pButton type="button" label="Show PDF" (click)="print('PDF')"></button>
      <button pButton type="button" label="Export JSON" (click)="print('EXCEL')"></button>
    </div>
  </form>

  <p-accordion *ngIf="accordionTab">
    <p-accordionTab header="Employee Report">
      <p-table [value]="reportData">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of scrollcol">{{ col.header }}</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row>
          <tr>
            <td *ngFor="let col of scrollcol">{{ row[col.field] }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="footer">
          <tr>
            <td *ngFor="let col of footerCols">{{ footerData[0][col.field] }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-accordionTab>
  </p-accordion>
  <div *ngIf="showDownload === true">
    <div *ngIf="!isLoading" style="height: 500px">
      <ng2-pdfjs-viewer #pdfViewer [downloadFileName]="'ClearanceReport'"></ng2-pdfjs-viewer>
    </div>
  </div>
</div>