<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar">
    <h3 class="logo">Employee Panel</h3>

    <div class="menu-section">
      <h4>Biodata</h4>
      <button class="menu-btn" (click)="navigate('employee')">Employee</button>
      <button class="menu-btn" (click)="navigate('status')"> Status</button>
      <button class="menu-btn" (click)="navigate('adress')"> Address</button>
    </div>

    <div class="menu-section">
      <h4>Services</h4>
      <button class="menu-btn" (click)="navigate('leave')">Leave</button>
      <button class="menu-btn" (click)="navigate('gate')">Gate Pass</button>
      <button class="menu-btn" (click)="navigate('checksalary')">Salary</button>
      <button class="menu-btn" (click)="navigate('resign')">Resignation</button>
      <button class="menu-btn" (click)="navigate('report')">PDF </button>
    </div>

    <div class="menu-section">
      <h4>Analytics</h4>
      <button class="menu-btn" (click)="navigate('bar')">Bar Graph</button>
      <button class="menu-btn" (click)="navigate('comparision')">Comparison Graph</button>
    </div>

    <button class="menu-btn logout" (click)="logout()">Logout</button>
  </div>

  <!-- Main Content -->
  <div class="main-content">

    <!-- Dashboard Overview -->


    <!-- Details Section -->
    <div class="details-section">
      <div class="page-card">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

</div>
