<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar">
    <h3 class="logo">HR Dashboard</h3>

    <ng-container *ngIf="role === 'admin'">
       <button class="menu-btn" (click)="navigate('bio')">
       Bio Data
      </button>
      <button class="menu-btn" (click)="navigate('leaveapprove')">
        Leave Approve
      </button>

      <button class="menu-btn" (click)="navigate('passapprove')">
        Gate Pass Approve
      </button>
       <button class="menu-btn" (click)="navigate('resignapprove')">
        Resignation Approve
      </button>

      <button class="menu-btn" (click)="navigate('Salary')">
        Salary
      </button>
    </ng-container>

    <button class="menu-btn logout" (click)="logout()">
      Logout
    </button>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

</div>
