<div class="grid container-fluid">
    <div class="col-12">
        <div class="card">
            
            <p-toast key='account'></p-toast>
            <p-accordion [activeIndex]="index" (onTabOpen)="OnTab($event)">
                <p-toolbar class="p-4 mt-4">
                         <h1 style="text-align:end; color:#2f3e4e;">Resignation Approve</h1>
                    <div class="p-toolbar-group-right flex flex-wrap gap-2">
                        <button pButton type="button" style="border-radius: 10px;" class="p-button-rounded mr-2" (click)="getadmin()"
                            label="Employee Status">
                        </button>

                        <button pButton type="button" style="border-radius: 10px;" class="p-button-success" (click)="OpenDilagApprove()"
                            label="Approve">
                        </button>
                        <p-dialog header="Confirm delete record" [(visible)]="aprove" [modal]="true" showEffect="fade"
                            [style]="{ width: '30vw' }" [breakpoints]="{ '960px': '75vw' }">
                            <span>Are You show You want to Approve the Resignation?</span>
                            <div
                                class="flex flex-column md:flex-row mt-5 md:justify-content-center md:align-items-center">
                                <div>
                                    <p-button pButton label="Yes" type="button" class="p-button-success p-button"
                                        (click)="getApprove()">Approve
                                    </p-button>
                                    <p-button class="ml-1" label="No" type="button"
                                        styleClass="p-button p-button-danger" (click)="CloseDialagAproove()">
                                    </p-button>
                                </div>
                            </div>
                        </p-dialog>

                        <button pButton type="button" style="border-radius: 10px;" class="p-button-danger mr-2" (click)="OpenDilagReject()"
                            label="Reject">
                        </button>

                        <p-dialog header="Confirm delete record" [(visible)]="reject" [modal]="true" showEffect="fade"
                            [style]="{ width: '30vw' }" [breakpoints]="{ '960px': '75vw' }">
                            <span>Are You show You want to Reject the Resignation?</span>
                            <div
                                class="flex flex-column md:flex-row mt-5 md:justify-content-center md:align-items-center">
                                <div>
                                    <p-button pButton label="Yes" type="button" class="p-button-success p-button"
                                        (click)="getReject()">Reject
                                    </p-button>
                                    <p-button class="ml-1" label="No" type="button"
                                        styleClass="p-button p-button-danger" (click)="CloseDialagReject()">
                                    </p-button>
                                </div>
                            </div>
                        </p-dialog>
                    </div>
                </p-toolbar>

                       <p-accordionTab header="EmployeeResignDetails">
                    <p-table #dt1 [value]="dtResign" [paginator]="true" [rows]="5"
                        [rowsPerPageOptions]="[10,15,20,25,30,40]" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" selectionMode="single"
                        [(selection)]="SelectRecord" dataKey="Id" [globalFilterFields]="['EmpName','CompId']"
                        [rowHover]="true" (onRowSelect)="onRowSelect($event)" styleClass="p-datatable-gridlines">

                        <ng-template pTemplate="caption">
                            <span class="p-input-icon-left">
                                <input pInputText type="search" (input)="onGlobalFilter(dt1,$event)"
                                    placeholder="Search" />
                            </span>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>

                                <th pSortableColumn="CompId">CompId <p-sortIcon field="CompId"></p-sortIcon> </th>
                                <th pSortableColumn="EmpName">EmpName <p-sortIcon field="EmpName"></p-sortIcon></th>

                                <th pSortableColumn="ResignStatus">ResignStatus <p-sortIcon
                                        field="ResignStatus"></p-sortIcon></th>
                                <th pSortableColumn="ResignReason">ResignReason <p-sortIcon
                                        field="ResignReason"></p-sortIcon></th>
                                <th pSortableColumn="ResignApplyDate">ResignApplyDate <p-sortIcon
                                        field="ResignApplyDate"></p-sortIcon></th>
                                <th pSortableColumn="ResignApproveDate">ResignApproveDate <p-sortIcon
                                        field="ResignApproveDate"></p-sortIcon></th>

                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-emp>
                            <tr [pSelectableRow]="emp">

                                <td>{{ emp.CompId }}</td>
                                <td>{{ emp.EmpName }}</td>
                                <td>{{ emp.ResignStatus }}</td>
                                <td>{{ emp.ResignReason }}</td>
                                <td>{{ emp.ResignApplyDate }}</td>
                                <td>{{ emp.ResignApproveDate }}</td>

                            </tr>
                        </ng-template>
                    </p-table>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
</div>
